button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    margin: 1em;
}
button:active{
    background-color: rgb(75, 67, 67);
    border: 3px solid gray;
    color: white;
}